@media(min-width: 700px) and (max-width: 1024px) {
  body{
    width: 100%;
  
  }

  #container {
    margin-left: 130px;
  }

  #ticket img{
    margin-left: 330px;
    margin-top: -66px;
  }
  
  #cinemaemca img {
    width: 580px;
    height: 580px;
  }
}

@media (max-width: 414px){
  #cinemaemca{
    display: none;
  }

  #pginadecad {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  background-color: #3D3E44;
  }

  #container{
    margin-left: 20px;
  }

  #ticket img {
    display: none;
  }
}